* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #d8e2dc;
}

.space-between {
  margin: 0 50px 0 50px;
}

.title {
  scroll-margin-top: 3rem;
  text-align: center;
  font-size: 2rem;
  position: fixed;
  background-color: #333;
  color: #d8e2dc;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.options {
  position: absolute;
  top: 100px;
  left: 20px;
}

.list {
  width: 40%;
  margin: 100px auto;
}

.fa-check-square,
.fa-square {
  margin-left: 2rem;
  margin-right: 1rem;
}

li {
  margin: 1rem;
  list-style-type: none;
  font-size: 2rem;
}

.list-titles {
  font-weight: bold;
}

.tasks {
  margin-left: 20px;
}
